<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" data-th-href="@{/css/style.css}">
    <title>AstroSearcher</title>
</head>

<body>
<header>
    <nav th:replace="fragments :: navigation"></nav>
</header>
<div class="about-content">
    <h2>Motivation</h2>
    <p>Project AstroSearcher was created in order to improve searching of
        astronomical objects in international databases.<br>
        AstroSearcher serves as interface between user and astronomical databases
        and provides unified searching in multiple databases at once.</p>
</div>
</body>
</html>