<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" data-th-href="@{/css/style.css}">
    <title>AstroSearcher</title>
</head>

<body>
    <nav class="nav-container" th:fragment="navigation">
        <ul>
            <li>
                <a href="index.html" th:href="@{http://localhost:8088/index}">AstroSearcher</a>
            </li>
            <li>
                <a href="about.html" th:href="@{http://localhost:8088/about}">About</a>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Language</button>
                    <div class="dropdown-languages">
                        <div class="language-option">
                            <img th:src="@{/images/gb.svg}" src="images/gb.svg" alt="">
                            <a href="#">English</a>
                        </div>
                        <div class="language-option">
                            <img th:src="@{/images/sk.svg}" src="images/sk.svg" alt="">
                            <a href="#">Slovak</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</body>
</html>