<!-- TODO: edit whole document to match new search options....
           -> search by id(name) and search by coords(ra, dec, radius) should be separated in form
           -> fix whole form:
              -> Fix search button
              -> Fix upload button
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" data-th-href="@{/css/style.css}">
    <title>AstroSearcher</title>
</head>

<body>
<header>
    <nav th:replace="fragments :: navigation"></nav>
</header>
<div id="container-bg">
    <form class="search-form" action="testing" method="post">
        <div class="content-wrapper">
            <div>
                <select class="select-search-option" name="searchBy">
                    <option th:each="opt : ${searchOptions}" th:value="${opt}" th:text="${opt}"></option>
                </select>
            </div>
            <div class="search-input-row">
                <input class="search-input" type="text" name="searchInput"
                       placeholder="Enter ID (name) or position (ra, dec, radius)">
            </div>
            <div class="upload-file-row">
                <input id="upload-file" type="file" name="fileName">
                <!-- <label for="upload-file">Choose a file</label> -->
            </div>
            <div class="submit-row">
                <button class="search-btn" type="submit">Search</button>
            </div>
        <!-- <div>
          <button class="search-btn" type="submit">Search</button>
        </div> -->

        </div>
    </form>
</div>
</body>
</html>