<!-- TODO: edit whole document to match new search options....
           -> search by id(name) and search by coords(ra, dec, radius) should be separated in form
           -> fix whole form:
              -> Fix search button
              -> Fix upload button
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" data-th-href="@{/css/style.css}">
    <title>AstroSearcher</title>
</head>

<body>
    <header>
        <nav th:replace="fragments :: navigation"></nav>
    </header>
    <div id="container-bg">
        <form class="search-form" action="testing" method="post">
            <div class="content-wrapper">
                <div style="grid-row: 1/2; grid-column: 2/3;">
                    <label th:text="${errorMSG}">&nbsp;</label>
                </div>
                <div style="grid-row: 2/3; grid-column: 1/2;">
                    <select class="select-search-option" name="searchBy">
                        <option th:each="opt : ${searchOptions}" th:value="${opt}" th:text="${opt}"></option>
                    </select>
                </div>
                <div style="grid-row: 2/3; grid-column: 2/3;">
                    <input class="search-input" type="text" name="searchInput"
                           placeholder="Enter ID (name) or position (ra, dec, radius)">
                </div>
                <div style="grid-row: 3/4; grid-column: 2/3;">
                    <input id="upload-file" type="file" name="fileName">
                </div>
                <div style="grid-row: 4/5; grid-column: 1/3;" class="submit-row">
                    <button class="search-btn" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>