<!-- TODO: edit whole document to match new search options....
           -> search by id(name) and search by coords(ra, dec, radius) should be separated in form
           -> fix whole form:
              -> Fix search button
              -> Fix upload button
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" data-th-href="@{/css/style.css}">
    <link rel="stylesheet" href="css/results.css" data-th-href="@{/css/results.css}">
    <script src="js/showData.js"></script>
    <script src="https://kit.fontawesome.com/254f57ca4f.js" crossorigin="anonymous"></script>
    <title>AstroSearcher</title>
</head>

<body>
<header>
    <nav th:replace="fragments :: navigation"></nav>
</header>
<div id="container-bg">
    <div class="tab">
        <div><button class="datasource" onclick="showData(event, 'data-MAST')">MAST</button></div>
        <div><button class="datasource" onclick="showData(event, 'data-Vizier')">Vizier</button></div>
        <div><button class="datasource" onclick="showData(event, 'data-Simbad')">Simbad</button></div>
    </div>

    <!-- Tab content -->
    <div id="data-MAST" class="tabcontent">
        <label class="data-MSG" th:unless="${containsMAST}" th:text="${mastDataMSG}"></label>
        <th:block th:if="${containsMAST}">
            <div class="data-table">
        <table>
            <thead>
                <tr>
                    <th:block th:each="field : ${mastFields}">
                        <th th:text="${field}"></th>
                    </th:block>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row : ${mastData}">
                    <th:block th:each="field : ${mastFields}"
                              th:with="isEmpty=${row.get(field.getWorkName()) == null ||
                                                 row.get(field.getWorkName()).isJsonNull() ||
                                                 row.get(field.getWorkName()) == ''}">
                        <td th:if="${isEmpty}"></td>
                        <th:block th:unless="${isEmpty}">
                            <td th:if="${field.isIcon()}">
                                <a th:href="${row.get(field.getWorkName()).getAsString()}">
                                    <i th:class="${field.getIconClass()}"></i>
                                </a>
                            </td>
                            <td th:unless="${field.isIcon()}">
                                <span th:if="${row.get(field.getWorkName()).getAsJsonPrimitive().isString()}"
                                      th:text="${row.get(field.getWorkName()).getAsString()}">
                                </span>
                                <span th:unless="${row.get(field.getWorkName()).getAsJsonPrimitive().isString()}"
                                      th:text="${row.get(field.getWorkName())}">
                                </span>
                            </td>
                        </th:block>
                    </th:block>
                </tr>
            </tbody>
        </table>
            </div>
        </th:block>
    </div>

    <div id="data-Vizier" class="tabcontent">
        <label class="data-MSG" th:unless="${containsVizier}" th:text="${vizierDataMSG}"></label>
        <th:block th:if="${containsVizier}">
            <div class="data-table"></div>
        </th:block>
    </div>

    <div id="data-Simbad" class="tabcontent">
        <label class="data-MSG" th:unless="${containsSimbad}" th:text="${simbadDataMSG}"></label>
        <th:block th:if="${containsSimbad}">
            <div class="data-table"></div>
        </th:block>
    </div>
</div>
</body>
</html>