<!-- TODO: edit whole document to match new search options....
           -> search by id(name) and search by coords(ra, dec, radius) should be separated in form
           -> fix whole form:
              -> Fix search button
              -> Fix upload button
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" data-th-href="@{/css/style.css}">
    <link rel="stylesheet" href="css/results.css" data-th-href="@{/css/results.css}">
    <script src="js/showData.js"></script>
    <script src="https://kit.fontawesome.com/254f57ca4f.js" crossorigin="anonymous"></script>
    <title>AstroSearcher</title>
</head>

<body>
<header>
    <nav th:replace="fragments :: navigation"></nav>
</header>
<div id="container-bg">
    <div class="tab">
        <div><button class="datasource" onclick="showData(event, 'data-MAST')"
                     th:text="'MAST (' + ${mastData != null ? mastData.size() : 0} + ')'"></button></div>
        <div><button class="datasource" onclick="showData(event, 'data-Vizier')"
                     th:text="'Vizier (' + ${vizierData != null ? vizierData.size() : 0} + ')'"></button></div>
        <div><button class="datasource" onclick="showData(event, 'data-Simbad')"
                     th:text="'Simbad (' + ${simbadData != null ? simbadData.size() : 0} + ')'"></button></div>
    </div>

    <!-- Tab content -->
    <div th:replace="results :: Mast"></div>
    <div th:replace="results :: Vizier"></div>
    <div th:replace="results :: Simbad"></div>
</div>
</body>
</html>